div.game {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
  
  .game-cell {
    width: 3rem;
    height: 3rem;
    border: 1px solid ;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  
  body{
    padding: 0;
    margin: 0;
  }
  
  .game-container{
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .cornflowerblue{
      background-color: cornflowerblue;
  }
  .chartreuse{
      background-color: chartreuse;
  }
  .blueviolet{
      background-color: blueviolet;
  }
  .aqua{
      background-color: aqua;
  }
  .orange{
      background-color: orange;
  }
  .purple{
      background-color: purple;
  }
  .pink{
      background-color: pink;
  }
  .black{
      background-color: black;
  }
  .blue{
      background-color: blue;
  }
  .yellow{
      background-color: yellow;
  }
  .green{
      background-color: green;
  }
  .red{
      background-color: red;
  }